<% layout("/layouts/boilerplate.ejs") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const listing = <%- JSON.stringify(listing) %>
</script>
<body>
        <div class="row">
            <!-- heading col -->
            <div class="col-8 offset-3">
                <h3><%= listing.title %></h3>
            </div>

            <!-- card col -->
            <div class="col-6 offset-3 show-card">
                <div class="card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing image">
                    <div class="card-body">
                        <p class="card-text">Owned by <b><i><%= listing.owner.username %></i></b></p>
                        <p class="card-text"><%= listing.description %></p>  
                        <p class="card-text">&#8377 <%= listing.price.toLocaleString("en-IN") %> </p>
                        <p class="card-text"><%= listing.location %> </p>
                        <p class="card-text"><%= listing.country %></p>   
                    </div>
                </div>
            </div>
        
        <% if (currentUser && currentUser._id.equals(listing.owner._id)) { %>
        <div class="show-btns mb-3">
            <!-- edit button -->
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>

            <!-- delete button -->
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark del-btn offset-5">Delete</button>
            </form>
        </div>
        <% } %>

        <!-- //review section----------------------------------------------------- -->
        <div class="col-8 offset-3 mb-3">
            <% if(currentUser){ %>
            <hr>
            <h4>Leave your Review</h4>
            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                <!-- review stars -->
                <label for="no-rate" class="form-label">Rating</label>
<fieldset class="starability-growRotate">
  <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
                <!-- review text  -->
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="reviews[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        please add some comment
                    </div>
                </div>
                <!-- review submit button  -->
                <div class="mb-3 mt-3">
                  <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
            <% } %>
            
            <!-- displaying reviews  -->
            <hr>
            <% if(listing.reviews.length > 0){ %>
            <div class="row">
                    <p><b> All Reviews </b></p>
                <% for(review of listing.reviews){ %>
                        <div class="card col-5 mb-3 ms-3">
                            <div class="card-body">
                                <h5 class="card-title">@<%= review.author.username %></h5>
                                <p class="card-text"> <%= review.comment %></p>
                                <p class="starability-result card-text" data-rating='<%= review.rating %>'></p>
                                <% if(currentUser) { %>
                                <!-- delete btn form  -->
                                <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                <div>
                    <h3>Where you'll be</h3>
                    <div id="map"></div>
                </div>
        </div>
    </div>

    <script src="/js/map.js"></script>
</body>