<% layout("/layouts/boilerplate.ejs") %>

<body>
        <div class="row">
            <!-- heading col -->
            <div class="col-8 offset-3">
                <h3><%= listing.title %></h3>
            </div>

            <!-- card col -->
            <div class="col-6 offset-3 show-card">
                <div class="card listing-card">
                    <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing image">
                    <div class="card-body">
                        <p class="card-text">Owned by <b><i><%= listing.owner.username %></i></b></p>
                        <p class="card-text"><%= listing.description %></p>  
                        <p class="card-text">&#8377 <%= listing.price.toLocaleString("en-IN") %> </p>
                        <p class="card-text"><%= listing.location %> </p>
                        <p class="card-text"><%= listing.country %></p>   
                    </div>
                </div>
            </div>
        
       
        <div class="show-btns mb-3">
            <!-- edit button -->
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>

            <!-- delete button -->
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>

        <!-- //review section----------------------------------------------------- -->
        <div class="col-8 offset-3 mb-3">
            <hr>
            <h4>Leave your Review</h4>

            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" name="reviews[rating]" id="rating" class="form-range" >
                </div>
                
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="reviews[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        please add some comment
                    </div>
                </div>

                <div class="mb-3 mt-3">
                  <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
            <!-- displaying reviews  -->
            <hr>
            <p><b> All Reviews </b></p>
    
                <div class="row">
                <% for(review of listing.reviews){ %>
                        <div class="card col-5 mb-3 ms-3">
                            <div class="card-body">
                                <h5 class="card-title">Andrew Tate</h5>
                                <p class="card-text"> <%= review.comment %></p>
                                <p class="card-text"> <%= review.rating %> star</p>
                                <!-- delete btn form  -->
                                <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                </div>

        </div>
    </div>

</body>